:root {
    /* Primary colors */
    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);

    /* Neutral colors */
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);

    --info-padding: none;
    --elements-margin: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
p {
    margin: 0;
}
